/* This is External Styling which will be applied to all the components having the same className. */

.btn{
  background: blueviolet;
  color: whitesmoke;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}